
.add {
    cursor: pointer;
    
}

h1 {
    color: rgb(218, 136, 14);
}


main {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}


input{
    width: 70%;
    color: black;
    text-align: center;
    
}

.item {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 20px rgb(133, 248, 248);
    justify-content: center;
    align-items: center;
    background: white;
    margin-bottom: 5px;
    width: 80%;
    border: 1px solid rgb(6, 10, 243);
    cursor: pointer;
    height: auto

}

.clicado .item-nome {
    text-decoration: line-through;
    color: rgb(131, 139, 127);
    background-color: rgb(168, 252, 217);
    
}


.mdi-checkbox-marked-circle {
    color: green;
    
}

.item-incone {
    flex: 3%;
    text-align: center;
    font-size: 1.5rem;

}

.item-nome {
    flex: 75%;
    padding-left: 2px;
    text-align: left;
}

body {
    align-items: center;
    text-align: center;
    background-color: black;

}

@media all  and (max-width: 1200px) {
    div {
        width: 960px;
    }
}

@media all  and (max-width: 480px) {
    div {
        width: 320px;
    }
}

img{
    width: 60px;
    height: 100px;

}

.item-botao {
    flex: 5%;
    
}

.delete {
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    padding: 5px;
    
}

